* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
}
input {
    height: 45px;
    width: 100%;
    color: #3B5983;
    font-size: 14px;
    line-height: 16px;
    border: 2px solid #E9F2FF;
    border-radius: 5px;
    padding-left: 25px;
}
input:focus {
    outline: none;
    border: 2px solid #C1D9FD;
}
input:valid {
    border-color: greenyellow;
}
input:invalid {
    border-color: orange;
}
input:not(:focus):invalid {
    border-color: #C1D9FD;
}
main {
    background: #F1F5FE;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.circle {
    position: absolute;
    z-index: 1;
    width: 2534px;
    height: 2534px;
    border-radius: 50%;
    background: #F7FAFF;
    box-shadow: 0px 4px 70px 6px rgba(217, 229, 255, 0.25);
    animation-name: fadeCircle;
    animation-duration: .7s;
    animation-timing-function: ease-in-out;
    animation-delay: .3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeCircle {
    0% {
        width: 2534px;
        height: 2534px;
    }
    25% {
        width: 2000px;
        height: 2000px;
    }
    50% {
        width: 1500px;
        height: 1500px;
    }
    75% {
        width: 1000px;
        height: 1000px;
    }
    100% {
        width: 534px;
        height: 534px;
    }
}
.register-form-container {
    opacity: 0;
    position: relative;
    z-index: 2;
    max-width: 415px;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(217, 229, 255, 0.7);
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 38px;
    padding-bottom: 38px;
    animation-name: fadeForm;
    animation-duration: .7s;
    animation-timing-function: ease-in-out;
    animation-delay: 1.4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeForm {
    0% {
        opacity: 0;
    }
    25% {
        opacity: .25;
    }
    50% {
        opacity: .5;
    }
    75% {
        opacity: .75;
    }
    100% {
        opacity: 1;
    }
}
.form-title {
    color: #30507D;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 38px;
}
.form-field {
    margin-bottom: 13px;
}
.button {
    width: 100%;
    font-weight: bold;
    font-size: 14px;
    display:block;
    height: 45px;
    background: #247FFF;
    border-radius: 5px;
    color:#fff;
    text-transform: uppercase;
    text-align: center;
    line-height: 45px;
    cursor: pointer;
    border: none;
}
.button:hover {
    background-color: #0D6CF2;
}
a.button {
    text-decoration: none;
}
.button-google {
    margin-top: 3%;
    color:#C6CFDC;
    background: #F2F6FF;
}
.button-google:hover {
    background: #E2E6F0;
    color: #fff;
}
.divider {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #405D87;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}
h1{
    text-align: center;
}
html {
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
  }
  body{
    height: 100%;
    width: 100%;
    background-color: rgb(245, 245, 245);
    font-family: 'Montserrat', sans-serif;
  }
  .animaText{
    transform: translate(-50%, -50%);
    font-weight: lighter;
    background: linear-gradient(90deg, white, black, white);
    animation: animate 5s linear infinite;
    background-size: 90%;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 14pt;
  }
  @keyframes animate {
      from{
        background-position: -1000%;
      }
      to{
        background-position: 1000%;
      }
  }

  .navbar-expand-lg{
    background-color: white;
    box-shadow: 0 15px 15px -15px rgb(184, 182, 182);
    position: sticky; top: 0px; 
    z-index:5;

}
.fa-lg {
  font-size: 1.33333333em;
  line-height: .1em;
  vertical-align: -15%;
}
.navbar-brand{
    font-size: 2rem;
    font-weight: bold;
    font-weight: 600;
    margin-left: 0.5%;
    box-shadow:80px; 
    cursor: pointer;   
}
.navbar-nav{
    width:100%;
    margin-left: 66%;   
}
.nav-link{
  font-size: 16pt;
  color:black;
} 