.animaText{
  transform: translate(-50%, -50%);
  font-weight: lighter;
  background: linear-gradient(90deg, white, black, white);
  animation: animate 5s linear infinite;
  background-size: 90%;
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 14pt;
}
@keyframes animate {
    from{
      background-position: -1000%;
    }
    to{
      background-position: 1000%;
    }
}

.navbar-expand-lg{
  background-color: white;
  box-shadow: 0 15px 15px -15px rgb(184, 182, 182);
  position: sticky; top: 0px; 
  z-index:5;

}
.fa-lg {
  font-size: 1.33333333em;
  line-height: .75em;
  vertical-align: -15%;
}
.navbar-brand{
  font-size: 2rem;
  font-weight: bold;
  font-weight: 600;
  margin-left: 0.5%;
  box-shadow:80px; 
  cursor: pointer;   
}
.navbar-nav{
  width:100%;
  margin-left: 66%;   
}
.nav-link{
font-size: 16pt;
color:black;
}





*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  position: relative;
  font-family: 'Montserrat', sans-serif;
}
section.gallery{
  position: relative;
  padding: 45px 0;
}
h2.title{
  font-size: 44px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 45px;
  position: relative;
}
h2.title:after{
  content: "";
  position: absolute;
  width: 100px;
  height: 3px;
  background-color: #111111;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.gallery-list{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  font-size: 0;
  margin-top: 30px;
}
.gallery-item{
  display: block;
  flex: 25%;
  overflow: hidden;
  position: relative;
}
.gallery-item-hover{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.7);
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  opacity: 0;
  transition: opacity .5s ease;
  z-index: 2;
}
.gallery-item:hover .gallery-item-hover{
  opacity: 1;
}
.gallery-item:hover img{
  transform: scale(1.3) rotate(5deg);
}
.gallery-item img{
  max-width: 100%;
  height: auto;
  transition: all .5s ease;
}
@media (max-width: 991px){
  .gallery-item{
    flex: 33.3%;
  }
}
@media (max-width: 768px){
  .gallery-item{
    flex: 50%;
  }
}
@media (max-width: 530px){
  .gallery-item{
    flex: 100%;
  }
}
.row{margin: 0%;}


.footer{
  box-shadow: 0 15px 15px 15px rgb(184, 182, 182);
  width: 100%;
  height: 120px;
  background-color: white; 
  padding: 0%;
  padding-left: 15%;
  padding-top: 1%;
  text-align: 30px;
}
.hr {
  border: none; 
  margin-top:0.5%;
  width: 55.8%;
  background-color: rgb(184, 182, 182); 
  height: 2px; 
 }
 .readmore{
   color:grey;
 }
 button{
   margin-left:0.5%;
   color: #fff;
   background-color: #000000;
   font-size: 14pt;
 }
 .fa-lg{
  font-size: 4rem;
 }
.fa{
  padding-top:1.5%;
  display: inline-block;
  font-size: 4rem;
  color:black;
  margin-left: 0.4%;
  text-decoration: none;
}
