
html {
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
  }
  body{
    height: 100%;
    width: 100%;
    background-color: rgb(245, 245, 245);
    font-family: 'Montserrat', sans-serif;
  }
  .animaText{
    transform: translate(-50%, -50%);
    font-weight: lighter;
    background: linear-gradient(90deg, white, black, white);
    animation: animate 5s linear infinite;
    background-size: 90%;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 14pt;
  }
  @keyframes animate {
      from{
        background-position: -1000%;
      }
      to{
        background-position: 1000%;
      }
  }

  .navbar-expand-lg{
    background-color: white;
    box-shadow: 0 15px 15px -15px rgb(184, 182, 182);
    position: sticky; top: 0px; 
    z-index:5;

}
.fa-lg {
  font-size: 1.33333333em;
  line-height: .1em;
  vertical-align: -15%;
}
.navbar-brand{
    font-size: 2rem;
    font-weight: bold;
    font-weight: 600;
    margin-left: 0.5%;
    box-shadow:80px; 
    cursor: pointer;   
}
.navbar-nav{
    width:100%;
    margin-left: 66%;   
}
.nav-link{
  font-size: 16pt;
  color:black;
} 


.content{
  width: 100%;
  height: 1480px;
  background-color: white;
  text-align:justify;
  padding-top: 0.1%; 
  padding-left: 8%;
  box-shadow: 0 3px 3px 3px rgb(184, 182, 182);
}

h2.title{
  padding: 45px 0;
  padding-right: 160px;
  font-size: 44px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 45px;
  position: relative;
}

h2.title:after{
  content: "";
  position: absolute;
  padding-left: 90px;
  width: 100px;
  height: 3px;
  background-color: #111111;
  bottom: 20px;
  left: 45%;
  transform: translateX(-50%);
}
.card{
  border: 2px solid rgba(0,0,0,.125);
}
.card-text{
  font-size: 12pt;
}
.btn-primary {
    color: #fff;
    background-color: #000000;
    border-color: #ffffff;
}
.footer{
  box-shadow: 0 15px 15px 15px rgb(184, 182, 182);
  width: 100%;
  height: 120px;
  background-color: white;
  padding: 0%;
  padding-left: 15%;
  padding-top: 1%;
  text-align: 30px;
  font-size: 12pt;
}
.hr {
  border: none; 
  margin-top:0.5%;
  width: 55.8%;
  background-color: rgb(184, 182, 182); 
  height: 2px; 
 }
 .readmore{
   color:grey;
 }
 button{
   margin-left:0.5%;
   color: #fff;
   background-color: #000000;
   
 }
 .fa-lg {
  font-size: 1.33333333em;
  line-height: .75em; 
  vertical-align: -15%;
}
.fa{
  padding-top:1.5%;
  display: inline-block;
  color:black;
  margin-left: 0.4%;
  text-decoration: none;
}
